,::before,::after{ margin:0; padding:0; box-sizing:border-box;}

a, article, aside, audio, b, blockquote, body, canvas, caption, dd,  details,div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, menu, nav, object, ol, output, p,s, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
 { margin: 0; padding: 0;  -webkit-touch-callout: none;/*当你触摸并按住触摸目标时候，禁止或显示系统默认菜单 */-webkit-tap-highlight-color: rgba(0,0,0,0); } 
ol, ul,li{ list-style: none;}
table { border-collapse: collapse;/*表格的边线重叠*/ border-spacing: 0; }
input,textarea{resize:none;/*调整尺寸*/ -webkit-user-select: auto !important;} 
:focus{outline:none;}
html{font-size: 100px;}
.m_layout{ width:100%; height:auto;/*后续再去掉*/ background:rgba(255,255,255,1); max-width:7.5rem; min-width:3.2rem; margin:0 auto;-webkit-overflow-scrolling:touch; position:relative; z-index:100;overflow: hidden;}
header{
	width: 100%;
	height:0.9rem;
	position: relative;
}
header a.ston{
	float: left;
	width: 0.34rem;
	height: 0.34rem;
	position: absolute;
	padding: 0.28rem 0rem 0.28rem 0.3rem;
}
header a.ston img{
	width: 0.34rem;
	height: 0.34rem;
	display: block;

}
header span{
	display: block;
	color: #353535;
	font-size: 0.2rem;
	text-align: center;
	font-size: 0.28rem;
	padding-top: 0.29rem;
}
.advert{
	width: 100%;
	height: 4.26rem;
}
.advert img{
	width: 100%;
	height: 100%;
	display: block;
}
.company{
	width: 100%;
	height: 3.48rem;
	/* padding: 0.54rem 0.4rem; */
}
.company div{
	width: 100%;
	height: 2rem;
	display: flex;
	justify-content: space-around;
 }
.company  div a{
	text-decoration: none;
	display: block;
	float: left;
	width: 3.2rem;
	height: 0.96rem;
	line-height: 0.96rem;
	border: 1px solid #e0e0e0;
	color:#959595;
	font-size: 0.26rem;
	text-align: center;
	border-radius: 0.1rem;
	margin-top: 0.52rem; 
}

.company div a:nth-child(1){
margin-left: 0.4rem;
}
.company div a:nth-child(2){
	margin-right: 0.4rem;
}
.company p{
	width: 100%;
	height: auto;
	padding:0.14rem 0rem;
	color: #2c2c2c;
	font-size: 0.34rem;
	text-align: center;
}
.company span{
	display: block;
	width: 100%;
	height: auto;
	text-align: center;
	font-size:0.24rem ;
	color: #aeaeae;
}
.list{
	width: 100%;
	height: 2.4rem;
	padding: 0.42rem 0.3rem ;
    overflow: hidden;
	border-bottom: 1px solid #e0e0e0;
}
.list .left{
	width: 4.74rem;
	height: 100%;
	float: left;
}
.list .left h3{
	display: block;
	font-weight: 600;
	font-size: 0.35rem;
	color: #545454;
	padding-bottom: 0.44rem;
	padding-top: 0.15rem;
}
.list .left p{
	display: block;
	width: 100%;
	height: 0.65rem;
	line-height: 0.5rem;
	font-size: 0.25rem;
	color: #575757;
}
.list .right{
	width: 1.9rem;
	height:100%;
	float: right;
	padding-right: 0.3rem; 
	padding-top: 0.4rem;

}
.list .right img{
	display: block;
	width: 1.58rem;
	height:1.58rem;
}
.run{
	width: 90%;
	height: 6.3rem;
	border-bottom: 1px solid #e0e0e0;
	padding:0rem 0.38rem;
}
.run .sty{
	width: 100%;
	height: 1.92rem;
}
.run .sty p{
	text-align: center;
	color:#323232;
	font-size: 0.3rem;
	padding-top:0.6rem;  
}
.run .sty span{
	display: block;
    text-align: center;
	color:#acacac;
	font-size: 0.24rem;
	padding-top:0.26rem;  
}
.swiper-container .swiper-wrapper .swiper-slide img{
	width: 5rem;
    height: 3.3rem;
}
.swiper-container .swiper-wrapper .swiper-slide p{
	text-align: center;
	color:#6c6c6c;
	padding-top: 0.3rem;
} 
.hourse{
 width: 100%;
 height: 4.55rem;
 padding:0rem 0.35rem 0rem 0.35rem; 
 box-sizing: border-box;
 border-bottom:1px solid #e0e0e0;
}
.hourse p{
	width: 100%;
	height:1.48rem;
	text-align: center;
	line-height: 1.48rem;
	font-size: 0.4rem;
	color: #3f3f3f;
}
.hourse ul{
	width: 100%;
	height:3.07rem;
}
.hourse ul li{
	width: 100%;
	height:0.6rem;
	display: flex;
	justify-content: space-between; 
}
.hourse ul li span{
   width:100%;
   height: 100%;
   font-size: 0.25rem;
   color: #323232;
   text-align: center;
}
.bottom{
	width: 100%;
	height: 2rem;
	padding:0.5rem 0.3rem;
	box-sizing: border-box;
 }
.bottom a{
	text-decoration: none;
	display: block;
	float: left;
	width: 3.2rem;
	height: 0.96rem;
	line-height: 0.96rem;
	border: 1px solid #e0e0e0;
	color:#959595;
	font-size: 0.26rem;
	text-align: center;
	border-radius: 0.1rem;
}
.bottom a:nth-child(1){
	float: left;
}
.bottom a:nth-child(2){
	float:right;
}